<div class="container mt-4">
    <h1>Khóa Học Của Tôi</h1>
    <table class="table mt-4">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Tên Khóa Học</th>
        <th scope="col">Level</th>
        <th scope="col">Thời Gian</th>
        <th scope="col" colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <td class="row">{{sum @index 1}}</td>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
            </td>
            <td><a href="/courses/{{this._id}}/edit" class="btn btn-link">Xóa</a></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
</div>